gauge-active-admin-example-csharp/bin/
gauge-active-admin-example-csharp/.gauge/
gauge-active-admin-example-csharp/reports/
gauge-active-admin-example-csharp/obj/
gauge-active-admin-example-csharp/logs/
gauge-active-admin-example-csharp/gauge_bin/